<div>
  <button id="run" [disabled]="context.isRuning" (click)="run()">run</button>
</div>
<div id="results">
  <table border="1">
    <tr>
      <th>userName</th>
      <th>productUrl</th>
      <th>size</th>
      <th>proxy</th>
      <th>proxyUserName</th>
      <th>proxyPassword</th>
      <th>status</th>
      <th>payPage</th>
    </tr>
    <tr *ngFor="let config of getConfigs()">
      <td>{{config.userName}}</td>
      <td>{{config.productUrl}}</td>
      <td>{{config.size}}</td>
      <td>{{config.proxy}}</td>
      <td>{{config.proxyUserName}}</td>
      <td>{{config.proxyPassword}}</td>
      <td>{{config.status}}</td>
      <td>
        <button *ngIf="config.payPage" (click)="showPay(config)">Pay</button>
        <span>{{config.payCount}}</span>
      </td>
    </tr>
  </table>
</div>
<button
  (click)="showPay({payPage:'D:\Workspace\MyGit\MyProjects\AA\src\client\core\log\3-8_https___mapi_alipay_com_gateway_do__input_charset=utf-8&logistics_fee=0&logistics_payment=BUYER_PAY&logistics_type=EXPRESS&notify_url=https%3A%2F%2Fwww_adidas_com_cn%2Falipay%2Fpay_body.html'})">Pay</button>
<div>
  <h3>status:</h3>
  <p>
    <span>{{timer | async}}</span>::{{context.status}}</p>
  <p>
    <span>{{context.timeSpan}}</span>
  </p>
</div>
