<h2>import tasks</h2>
<div>
  <textarea name="name" rows="25" cols="80" [(ngModel)]="defaultInputs"></textarea>
</div>
<div>
  <button (click)="import()">import</button>
  <button (click)="prepareValidate()">prepare validate</button>
</div>
<div>
  <textarea name="name" rows="5" cols="80" [(ngModel)]="captchaData"></textarea>
</div>
<div>
  <div id="captcha">
    <p id="wait" class="show">正在加载验证码......</p>
  </div>
</div>
<div>
  <textarea name="" id="captchaValidateData" cols="60" rows="10"></textarea>
</div>
